* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(224, 204, 210);
}
.myImage {
    background-color: rgb(241, 233, 233);
    display: flex;
    justify-content: center;
}
.myImage img {
    width: 40%;
    border-radius: 5px;
}
.text {
    background-color: rgb(241, 233, 233);
    text-align: center;
    padding: 30px;
}
.index {
    background-color: rgb(241, 233, 233);
    display: flex;
    justify-content: space-around;
}
.withMe {
    background-color: rgb(241, 233, 233);
    display: flex;
    justify-content: space-around;
}
.withMe p {
    width: 50%;
    margin: 20px;
    text-align: justify;
}
.withMe ul {
    margin: 20px;
    width: 40%;
    text-align: justify;
}
.footer {
    background-color: rgb(226, 217, 217);
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.footer p {
    text-align: justify;
}